*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3 {
  color: #474747;
  font-weight: 100;
  line-height: 1.3;
}

h1 {
  display: block;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

h1 {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 4.4em;
  font-weight: 100;
  line-height: 1.35;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 24px;
}

