.hero h1 {
  font-size: 2.2rem;
  color: #fff;
  margin: .5rem 0 20px 0;
}

@media only screen and (min-width: 48rem) {
  .hero h1 {
    font-size: 46px;
    font-size: 2.875rem;
    margin: 24px 0 38px 0;
    margin: 1.5rem 0 2.375rem 0;
  }
}

@media only screen and (min-width: 64rem) {
  .hero h1 {
    font-size: 58px;
    font-size: 3.625rem;
    margin: 28px 0 42px 0;
    margin: 1.75rem 0 2.625rem 0;
  }
}

.hero {
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.hero__bg-container-overlay {
  background: none;
  padding: 12% 0 8% 0;
  height: 100%;
  width: 100%;
}

.hero--home .hero__bg-container {
  background-image:url("../images/girl_bg3.jpg");
}

.hero__bg-container {
  background-size: cover;
  display: inline-block;
  width: 100%;
}

.hero__fab {
  margin-top: -25px;
}

