/***** Welcome section */
.welcome__picture{
  max-width:100%;
}

.welcome__bg_container{
  margin-bottom: 1%;
}

.welcome__logo_img{
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 5em;
}

@media only screen and (min-width: 48rem) {
  .welcome__logo_img{
    height: 6em;
  }
}

@media only screen and (min-width: 64rem) {
  .welcome__logo_img{
    height: 7em;
  }
}

.welcome__logo_img-1{
  background-image: url("../images/Logo/green-brand.png");
}

.welcome__logo_img-2{
  background-image: url("../images/Logo/fsc.png");
}

.welcome__logo_img-3{
  background-image: url("../images/Logo/iso.png");
}

.welcome__logo_img-4{
  background-image: url("../images/Logo/wwf.png");
}

.welcome__logo_img-5{
  background-image: url("../images/Logo/umweltallianz_hessen.png");
}
.welcome__logo_img-6{
  background-image: url("../images/Logo/klimaneutral.png");
}

/***** Why eco section */

.section--subhead{
  margin-top: 6%;
  margin-bottom: 3%;
}
.section--header-rect {
  background: #4CAF50;
  bottom: 0;
  content: '';
  height: 3px;
  left: 0;
  width: 120px;
}

.why-eco-icons{
  font-size: 42px;
 }

.why-eco--cell-img{

}

.why-eco--cell-text{
  min-height: 100%;
}

/***** Price section */

.price__container{
 margin-bottom: 5%;
}

/***** How it Work section */
.how-work{
  text-align: center;
}

.how-work__icon-big{
  font-size:70px;
}


/***** Why tree section */
.why-tree__container{
  background-image: url("../images/bg_africa_trees.jpg");
  background-size: cover;
  width: 100%;
}

.why-tree__card{
  margin-top: 10%;
  margin-bottom: 10%;
}
