/***** Welcome section */
.welcome__picture{
  max-width:100%;
}

.welcome__logo-container{
  margin-top: -1%;
  margin-bottom: 1%;
}

.welcome__logo_img{
  max-height: 100px;
  width: auto;
}

/***** Why eco section */

.section--subhead{
  margin-top: 6%;
  margin-bottom: 3%;
}
.section--header-rect {
  background: #4CAF50;
  bottom: 0;
  content: '';
  height: 3px;
  left: 0;
  width: 120px;
}

.why-eco-icons{
  font-size: 42px;
 }

.why-eco--cell-img{

}

.why-eco--cell-text{
  min-height: 100%;
}

/***** Price section */

.price__container{
 margin-bottom: 5%; 
}

/***** How it Work section */
.how-work{
  text-align: center;
}


/*****  section */

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

.icon_turn {
  font-size: 300px;
  -webkit-animation-name: rotateIn;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 5s;

}
