.order_progress {
  width: 180px;
}

@media only screen and (min-width: 34rem) {
  .order_progress {
    width: 300px;
  }
}

@media only screen and (min-width: 64rem) {
  .order_progress {
    width: 400px;
  }
}

.order_title_process{
  margin-left: 20px;
}

.order_title_help_icon{
  font-size: 28px;
  margin-right: 20px;
}

.order_title__container{
  margin-top: 6%;
}

.order_title__content{
  margin-bottom: 1%;
}


