.order_progress {
  width: 180px;
}

@media only screen and (min-width: 34rem) {
  .order_progress {
    width: 300px;
  }
}

@media only screen and (min-width: 64rem) {
  .order_progress {
    width: 400px;
  }
}

.order_title_process{
  margin-left: 20px;
}

.order_title_help_icon{
  font-size: 28px;
  margin-right: 20px;
}

.order_title__container{
  margin-top: 6%;
}

.order_title__content{
  margin-bottom: 1%;
}

//Fap button back
.fap_button_back__container {
  position: fixed;
  left: 60px;
  top: 50%;
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.fap_button_back {
 box-shadow: none;
}


//scriptPlan
.order_card {
  height: 110px;
}

.mdl-card__supporting-text{
  min-height: 90px;
}

.order_card__blackwhite  {
  color: #fff;
  background: #424242;
}

.order_card__color  {
  color: #fff;
  background: #4CAF50;
}

//scriptPrintConfirguration
.order_card__print_config {

}

.order_card__print_config_einseitig{
  background-image: url("../images/icons/einseitig_180px.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.order_card__print_config_zweiseitig{
  background-image: url("../images/icons/beidseitig_180px.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}
.order_card__print_config_ein_blatt{
  background-image: url("../images/icons/ein_blatt_180px.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.order_card__print_config_zwei_blatt{
  background-image: url("../images/icons/zwei_blatt_180px.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.order_card__print_config_vier_blatt{
  background-image: url("../images/icons/vier_blatt_180px.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

