<div class="mdl-grid mdl-cell mdl-cell--6-col mdl-cell--3-offset">
  <h1>Allgemeine Gesch&auml;ftsbedingungen</h1>
  <h2>Vertragspartner</h2>
  <p>
    Auf Grundlage dieser Allgemeinen Gesch&auml;ftsbedingungen (AGB) kommt zwischen dem Kunden und
    <br/>Scripteco GbR
    <br/>Vertreten durch Dominik, &Uuml;r&uuml;m
    <br/>Adresse: Pallaswiesenstr. 57 64293 Darmstadt
    <br/>
    E-Mail-Adresse: support@script.eco
    <br/>
    , nachfolgend Anbieter genannt, der Vertrag zustande.
  </p>

  <h2>Vertragsgegenstand</h2>
  <p>
    Durch diesen Vertrag wird der Verkauf von Neuwaren aus dem Bereich/den Bereichen Druck &uuml;ber den Online-Shop
    des Anbieters geregelt. Wegen der Details des jeweiligen Angebotes wird auf die Produktbeschreibung der
    Angebotsseite
    verwiesen.
  </p>

  <h2>Vertragsschluss</h2>
  <p>
    Der Vertrag kommt ausschlie&szlig;lich im elektronischen Gesch&auml;ftsverkehr &uuml;ber das Shop-System
    zustande. Dabei stellen die dargestellten Angebote eine unverbindliche Aufforderung zur Abgabe eines Angebots durch
    die Kundenbestellung dar, das der Anbieter dann annehmen kann.
  </p>
  <p>Der Bestellvorgang zum Vertragsschluss umfasst im Shop-System folgende Schritte:</p>
  <ul>
    <li>Hochladen des Skripts
    </li>
    <br/>
    <li>Ausw&auml;hlen der Druckoptionen
    </li>
    <br/>
    <li>Bezahlung
    </li>
  </ul>

  <p>Mit der Zusendung der Bestellbest&auml;tigung kommt der Vertrag zustande.</p>

  <h2>Vertragsdauer</h2>
  <p>Der Vertrag wird auf unbestimmte Zeit geschlossen.</p>

  <h2>Vorbehalte</h2>
  <p>
    Der Anbieter beh&auml;lt sich vor, eine in Qualit&auml;t und Preis gleichwertige Leistung zu erbringen. Die im Shop
    dargestellte Leistung ist beispielhaft und nicht die individuelle, vertragsgegenst&auml;ndliche Leistung.
    Der Anbieter beh&auml;lt sich vor, im Falle der Nichtverf&uuml;gbarkeit der versprochenen Leistung diese nicht zu
    erbringen.
  </p>

  <h2>Preise, Versandkosten, R&uuml;cksendekosten</h2>
  <p>
    Alle Preise sind Endpreise und enthalten gem. § 19 Abs. 1 UStG keine Umsatzsteuer (Mehrwertsteuer).
    Neben den Endpreisen fallen je nach Versandart weitere Kosten an, die vor Versendung der Bestellung angezeigt
    werden.
    Besteht ein Widerrufsrecht und wird von diesem Gebrauch gemacht, tr&auml;gt der Kunde die Kosten der R&uuml;cksendung.
  </p>

  <h2>Zahlungsbedingungen</h2>
  <p>Der Kunde hat ausschlie&szlig;lich folgende M&ouml;glichkeiten zur Zahlung:<br/>
    Vorab&uuml;berweisung,<br/>
    Zahlungsdienstleister (PayPal).<br/>
    Weitere Zahlungsarten werden nicht angeboten und werden zur&uuml;ckgewiesen.
  </p>
  <p>
    Der Rechnungsbetrag ist nach Zugang der Rechnung, die alle Angaben f&uuml;r die &Uuml;berweisung enth&auml;lt und
    mit
    E-Mail verschickt wird, auf das dort angegebene Konto vorab zu &uuml;berweisen.
    Bei Verwendung eines Treuhandservice/ Zahlungsdienstleisters erm&ouml;glicht es dieser dem Anbieter und Kunden, die
    Zahlung untereinander abzuwickeln. Dabei leitet der Treuhandservice/ Zahlungsdienstleister die Zahlung des Kunden an
    den Anbieter weiter. Weitere Informationen erhalten Sie auf der Internetseite des jeweiligen Treuhandservices/
    Zahlungsdienstleisters.
  </p>
  <p>
    Der Kunde ist verpflichtet innerhalb von 7 Tagen nach Erhalt der Rechnung den ausgewiesenen Betrag auf das auf
    der Rechnung angegebene Konto einzuzahlen oder zu &uuml;berweisen.
  </p>
  <p>Die Zahlung ist ab Rechnungsdatum ohne Abzug f&auml;llig. Der Kunde kommt erst nach Mahnung in Verzug.</p>

  <h2>Lieferbedingungen</h2>
  <p>
    Die Ware wird umgehend nach best&auml;tigtem Zahlungseingang versandt.<br/>
    Der Versand erfolgt durchschnittlich sp&auml;testens nach 1 Tagen.
    Der Unternehmer verpflichtet sich zur Lieferung am 14. Tag nach
    best&auml;tigtem Zahlungseingang.
  </p>
  <p>Die Regellieferzeit betr&auml;gt 3 Tage, wenn in der Artikelbeschreibung nichts anderes angegeben ist.</p>

  <p>
    Der Anbieter versendet nicht direkt. Die Bestellung wird vom Hersteller verschickt, sobald die gesamte Bestellung
    dort vorr&auml;tig ist.
  </p>

  <h2>Widerrufsrecht und Kundendienst</h2>
  <p>
    Auf die Kunden, die Unternehmer sind, sind die Vorschriften f&uuml;r Fernabsatzvertr&auml;ge nicht anwendbar. Daher
    steht diesen Kunden kein entsprechendes Widerrufsrecht wegen Fernabsatzvertrag zu. Der Anbieter r&auml;umt ein
    solches
    auch nicht ein.
  </p>

  <h2>Haftungsausschluss</h2>
  <p>
    Schadensersatzanspr&uuml;che des Kunden sind ausgeschlossen, soweit sich aus den nachfolgenden Gr&uuml;nden nicht
    etwas anderes ergibt. Dies gilt auch f&uuml;r den Vertreter und Erf&uuml;llungsgehilfen des Anbieters, falls der
    Kunde
    gegen diese Anspr&uuml;che auf Schadensersatz erhebt. Ausgenommen sind Schadensersatzanspr&uuml;che des Kunden wegen
    Verletzung des Lebens, des K&ouml;rpers, der Gesundheit oder wesentlicher Vertragspflichten, welche zur Erreichung
    des
    Vertragszieles notwendigerweise erf&uuml;llt werden m&uuml;ssen. Ebenso gilt dies nicht f&uuml;r Schadensersatzanspr&uuml;che
    nach grob fahrl&auml;ssiger oder vors&auml;tzlicher Pflichtverletzung des Anbieters oder seines gesetzlichen
    Vertreters oder Erf&uuml;llungsgehilfen.
  </p>

  <h2>Abtretungs- und Verpf&auml;ndungsverbot</h2>
  <p>
    Anspr&uuml;che oder Rechte des Kunden gegen den Anbieter d&uuml;rfen ohne dessen Zustimmung nicht abgetreten oder
    verpf&auml;ndet werden, es sei denn der Kunde hat ein berechtigtes Interesse an der Abtretung oder Verpf&auml;ndung
    nachgewiesen.
  </p>

  <h2>Sprache, Gerichtsstand und anzuwendendes Recht</h2>
  <p>
    Der Vertrag wird in Deutsch abgefasst. Die weitere Durchf&uuml;hrung der Vertragsbeziehung erfolgt in Deutsch.
    Es findet ausschlie&szlig;lich das Recht der Bundesrepublik Deutschland Anwendung. F&uuml;r Verbraucher gilt dies
    nur
    insoweit, als dadurch keine gesetzlichen Bestimmungen des Staates eingeschr&auml;nkt werden, in dem der Kunde seinen
    Wohnsitz oder gew&ouml;hnlichen Aufenthalt hat.
  </p>

  <h2>Salvatorische Klausel</h2>
  <p>Die Unwirksamkeit einer Bestimmung dieser AGB hat keine Auswirkungen auf die Wirksamkeit der sonstigen
    Bestimmungen.</p>
  <div style="padding-top: 12px; padding-bottom: 12px">
    <h2>Umsetzung der ODR-Richtlinie</h2>
    <p>
      <b>Online-Streitbeilegung gem&auml;&szlig;
        Art. 14 Abs. 1 ODR-VO
      </b>
      <br/>Die Europ&auml;ische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS)
      bereit, die Sie unter
      <a href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/
      </a> finden.
      Hinweis nach § 36 Abs. 1 Nr. 2 VSBG: Wir weisen Sie darauf hin, dass wir f&uuml;r eine Teilnahme an
      Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle nicht zur Verf&uuml;gung stehen.“
    </p>
  </div>

</div>
