{
  "presets": ["es2015"],
  "plugins": ["angularjs-annotate"],
  // Remove the line below to enable ES2015 support.
//  "only": [
//    "gulpfile.babel.js",
//    ".tmp/components/**/*.js",
//    ".tmp/components/*.js",
//    ".tmp/scripts/*.js"
//  ],
  "retainLines": true
}
