<div data-ng-controller="landingController as controller">

  <!-- Your content goes here -->
  <div class="hero hero--home" id="top">
    <div class="hero__bg-container">
      <div class=" hero__bg-container-overlay">
        <h1>Der einfache Weg<br>umweltfreundlich zu drucken.</h1>

        <button data-ng-click="navigation.scrollTo('/order', '')"
                class="hero__btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
          PDF hochladen<i class="material-icons">file_upload</i>
        </button>
      </div>
    </div>

    <div class="see-more-button">
      <button data-ng-click="navigation.scrollTo('/', 'how')"
              class="hero__fab mdl-layout--large-screen-only mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--white mdl-color-text--primary mdl-shadow--6dp">
        <i class="material-icons">keyboard_arrow_down</i>
      </button>
    </div>
  </div>

  <div class="welcome__logo-container mdl-grid" >
      <img class="welcome__logo welcome__logo_img mdl-cell mdl-cell--1-col  mdl-cell--4-offset-desktop"
           src="../../images/Logo/green-brand.png"/>
      <img class="welcome__logo_img welcome__logo mdl-cell mdl-cell--1-col " src="../../images/Logo/iso.png"/>
      <img class="welcome__logo_img welcome__logo mdl-cell mdl-cell--1-col " src="../../images/Logo/umweltallianz_hessen.png"/>
      <img class="welcome__logo_img welcome__logo mdl-cell mdl-cell--1-col" src="../../images/Logo/wwf.png"/>
      <img class="welcome__logo_img welcome__logo mdl-cell mdl-cell--1-col " src="../../images/Logo/fsc.png"/>
      <img class="welcome__logo_img welcome__logo mdl-cell mdl-cell--1-col " src="../../images/Logo/klimaneutral.png"/>
  </div>


  <div class="welcome__bg_container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-cell--1-offset-phone mdl-cell--top mdl-cell--order-2-phone">
      <img class="welcome__picture" src="../../images/skript_vorlage.png" >
    </div>

    <div id="how" class="mdl-cell mdl-grid--no-spacing mdl-cell--4-col mdl-cell--order-1-phone mdl-cell--top">
      <h2 class="mdl-cell mdl-cell--12-col section__title">
        Bestelle in 3 Minuten <br> kostenlos deinen Skript.
      </h2>
      <p class="mdl-cell mdl-cell--8-col">
        Direkt zu dir versendet und ohne versteckte Kosten.<br>
        Und wenn du einen Skript ohne Sponsoren möchtest, nimm einfach unseren Premium Skript..
      </p>
    </div>
  </div>


  <!-- Unsere Vorteile - 1. Spalte -->
  <div class="mdl-grid mdl-color--grey-100">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet">

      <h4 class="section--subhead">Was machen wir anders?</h4>
      <p class="section--header-rect"></p>
    </div>
  </div>

  <div class="mdl-grid mdl-color--grey-100">

    <!-- Ökologisch -->
    <div class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet">
      <div class="why-eco--cell-img mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">color_lens</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Ökologische Farben</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col ">
        <p>
          Unsere Druckerei druckt seit 1998 ausschließlich mit Farben auf Pflanzenölbasis. Das Druckereigebäude und die Druckereitechnik gehört zu den nachhaltigsten in Europa.
        </p>
      </div>
    </div>

    <!-- Nachhaltig -->
    <div class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet">
      <div class="why-eco--cell-img mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">format_color_reset</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Alkoholfreier Druck</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>Alle Druckmaschinen laufen seit vielen Jahren ohne den Klimakiller Isopropylalkohol. Außerdem verzichten wir komplett auf Plastik und versenden deinen Skript CO2 neutral zu dir nach Hause.<br>
        </p>
      </div>
    </div>

    <!-- Nachhaltig -->
    <div class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--1-offset-tablet">
      <div class="why-eco--cell-img mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">nature_people</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Recylingpapier</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>
          Für unsere Skripte benutzen wir nur hochwertiges Recyclingpapier und setzen uns nachhaltig für Naturschutz sein. Für jeden Skript den wir drucken, planzen wir einen
          <a style="text-decoration:none; color: #4CAF50;" href="./products/drive/">Baum</a>.
        </p>
      </div>
    </div>

    <!--  -->
    <div class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--3-offset-desktop">
      <div class="mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">question_answer</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Erstklassiger Support</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>
          Du kannst dich jedezeit per Chat oder
          <a style="text-decoration:none; color: #4CAF50;" href="mailto:support@script.eco">Mail</a>
          an uns wenden und uns gerne Fragen zu unseren Skripten und unserer nachhaltigen Druckphilosphie stellen.
          Antworten auf alle wichtigen Fragen findest du außerdem in der <a style="text-decoration:none; color: #4CAF50;" href="./products/drive/">FAQ</a>.
        </p>
      </div>
    </div>

    <!--  -->
    <div class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--1-offset-tablet">
      <div class="mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">favorite</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Individuelles Produkt</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>Wir legen Wert auf ein individuelles Produkt, welches dich überzeugt. Benutze zum Beispiel dein Lieblingsbild als Cover und lass dich von unserem textmarkersicheren 90g Papier überzeugen.
        </p>
      </div>
    </div>

    <!--  -->
    <div class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet">
      <div class="mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">verified_user</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Ausgewählte Sponsoren</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>
          Deine Sponsoren werden nach unseren
          <a style="text-decoration:none; color: #4CAF50;" href="./products/drive/">Richtlinen</a>
          gründlich ausgewählt, damit deine Daten wirlich bei dir bleiben. Außerdem verpflichtet sich jeder deiner Sponsoren sich für Themen, wie den Unweltschutz einzusetzen.
        </p>
      </div>
    </div>
  </div>

  <div class="mdl-grid select-product">
    <div id="products" class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet">
      <h3 style="text-align: center;">Wähle deinen Skript.</h3>
    </div>
  </div>

  <div class="mdl-grid price__container">
    <!--Green Free-->
    <div class=" mdl-card mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-shadow--4dp">
      <div class="product-card-name mdl-card__title mdl-color--green mdl-color-text--white">
        <h2 class="mdl-card__title-text"><strong>Green Free</strong></h2>
      </div>
      <div class="product-card-price mdl-card__title mdl-color--green mdl-color-text--white mdl-card--border">
        <h2 class="mdl-card__title-text">€ 0.00</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span><strong>Max. 125 Seiten - Recyclingpapier</strong></span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Gesponsort*</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Kostenloser Versand</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Hochwertige Spiralbindung</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Bio-Farbdruck</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Klimaneutral*</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          <span> <span>Ein geflanzter Baum</span>
          <span><img src="../../images/tree.svg" width="23px" height="23px"></span>
      </div>

      <div class=" mdl-card__actions mdl-card--border mdl-color--green" style="text-align: center">
        <a class="mdl-button mdl-button--raised mdl-button--colored mdl-color--white mdl-js-button mdl-js-ripple-effect mdl-color-text--black">
          Auswählen
        </a>
      </div>
    </div>

    <!--Green-->
    <div class=" mdl-card mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-shadow--4dp">
      <div class="product-card-name mdl-card__title mdl-color--green mdl-color-text--white">
        <h2 class="mdl-card__title-text"><strong>Green Premium</strong></h2>
      </div>
      <div class="product-card-price mdl-card__title mdl-color--green mdl-color-text--white mdl-card--border">
        <h2 class="mdl-card__title-text">ab € 8.99</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span><strong>Max. 300 Seiten - Recyclingpapier</strong></span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Werbefrei</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Kostenloser Versand</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Viele Bindungsmögl.</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Bio-Farbdruck</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Klimaneutral*</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Ein geflanzter Baume</span>
        <span><img src="images/tree.svg" width="23px" height="23px"></span>
      </div>

      <div class=" mdl-card__actions mdl-card--border mdl-color--green" style="text-align: center">
        <a class="mdl-button mdl-button--raised mdl-button--colored mdl-color--white mdl-js-button mdl-js-ripple-effect mdl-color-text--black">
          Auswählen
        </a>
      </div>
    </div>
  </div>


  <div class="mdl-grid mdl-color--primary">
      <div class="how-work mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet">
        <h3 class="mdl-color-text--white">Und so funktioniert es.</h3>
      </div>
  </div>

  <div class="mdl-grid mdl-color--primary">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--4-offset">
      <i class="material-icons mdl-color-text--white" style="font-size:70px;">file_upload</i>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons mdl-color-text--white" style="font-size:70px;">keyboard_arrow_right</i>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons mdl-color-text--white" style="font-size:70px;">email</i>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons mdl-color-text--white" style="font-size:70px;">keyboard_arrow_right</i>
    </div>
    <div class="mdl-cell mdl-cell--1-col">
      <i class="material-icons mdl-color-text--white" style="font-size:70px;">nature_people</i>
    </div>
  </div>

  <div class="mdl-grid mdl-color--primary mdl-color-text--white">
    <div class="mdl-cell mdl-cell--1-col mdl-cell--4-offset">
      Du lädst dein Skript als PDF hoch.
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-offset">
      Innerhalb von 3 Wertagen ist der Skript bei dir.
    </div>
    <div class="mdl-cell mdl-cell--1-col mdl-cell--1-offset">
      Wir planzen bis zu zwei Bäume und schützen die Natur.
    </div>
  </div>

  <div class="why-tree__container mdl-grid">
    <div class="why-tree__card mdl-cell mdl-cell--3-col  mdl-cell--4-col-tablet mdl-cell--4-col-phone  mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet mdl-card mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h3>
          Wieso wir Bäume pflanzen.
        </h3>
      </div>
      <div class="mdl-card__supporting-text">
        <p>
          Skripte werden für die Uni benötigt, doch wir möchten die Natur erhalten.
          Neben 100% Recyclingpapier, Bio-Farbdruck, Klimaneutraler Druck und Versand möchten wir noch mehr tun.
          Wir planzen bis zu 2 Bäume im Ausgleich für einen Skript, denn Bäume sind für unsere Erde lebenswichtig.
        </p>
      </div>
    </div>
  </div>

</div>
