<div data-ng-controller="landingController as controller">

  <!-- Your content goes here -->
  <div class="hero hero--home" id="top">
    <div class="hero__bg-container">
      <div class=" hero__bg-container-overlay">
        <h1>Der einfache Weg<br>umweltfreundlich zu drucken.</h1>

        <button data-ng-click="navigation.scrollTo('/', 'prospects')"
                class="hero__btn mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary">
          PDF hochladen<i class="material-icons">file_upload</i>
        </button>
      </div>
    </div>

    <div class="see-more-button">
      <button data-ng-click="navigation.scrollTo('/', 'how')"
              class="hero__fab mdl-layout--large-screen-only mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-color--white mdl-color-text--primary mdl-shadow--6dp">
        <i class="material-icons">keyboard_arrow_down</i>
      </button>
    </div>
  </div>

  <div class="welcome__logo-container mdl-grid">
    <div>

    </div>
    <div
      class="welcome__logo_img welcome__logo_img-1 mdl-cell mdl-cell--1-col mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet">
    </div>
    <div class="welcome__logo_img welcome__logo_img-2 mdl-cell mdl-cell--1-col">
    </div>
    <div class="welcome__logo_img welcome__logo_img-3 mdl-cell mdl-cell--1-col">
    </div>
    <div class="welcome__logo_img welcome__logo_img-4 mdl-cell mdl-cell--1-col">
    </div>
    <div class="welcome__logo_img welcome__logo_img-5 mdl-cell mdl-cell--1-col mdl-cell--1-offset-phone">
    </div>
    <div class="welcome__logo_img welcome__logo_img-6 mdl-cell mdl-cell--1-col">
    </div>
  </div>


  <div class="welcome__bg_container mdl-grid">
    <div
      class="mdl-cell mdl-cell--2-col mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-cell--1-offset-phone mdl-cell--top mdl-cell--order-2-phone">
      <img class="welcome__picture" src="../../images/skript_vorlage.png">
    </div>

    <div id="how" class="mdl-cell mdl-grid--no-spacing mdl-cell--4-col mdl-cell--order-1-phone mdl-cell--top">
      <h2 class="mdl-cell mdl-cell--12-col section__title">
        Bestelle in 3 Minuten <br> kostenlos dein Skript.
      </h2>
      <p class="mdl-cell mdl-cell--8-col">
        Direkt zu dir versendet und ohne versteckte Kosten.<br>
        Und wenn du einen Skript ohne Sponsoren möchtest, nimm einfach unser Premium Skript.
      </p>
    </div>
  </div>


  <!-- Unsere Vorteile - 1. Spalte -->
  <div class="mdl-grid mdl-color--grey-100">
    <div class="mdl-cell mdl-cell--6-col mdl-cell--2-offset-desktop mdl-cell--1-offset-tablet">

      <h4 class="section--subhead">Was machen wir anders?</h4>
      <p class="section--header-rect"></p>
    </div>
  </div>

  <div class="mdl-grid mdl-color--grey-100">

    <!-- Ökologisch -->
    <div
      class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--3-offset-desktop mdl-cell--1-offset-tablet">
      <div class="why-eco--cell-img mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">color_lens</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Ökologische Farben</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col ">
        <p>
          Unsere Druckerei druckt seit 1998 ausschließlich mit Farben auf Pflanzenölbasis. Das Druckereigebäude und die
          Druckereitechnik gehört zu den nachhaltigsten in Europa.
        </p>
      </div>
    </div>

    <!-- Nachhaltig -->
    <div class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet">
      <div class="why-eco--cell-img mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">format_color_reset</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Alkoholfreier Druck</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>Alle Druckmaschinen laufen seit vielen Jahren ohne den Klimakiller Isopropylalkohol. Außerdem verzichten wir
          komplett auf Plastik und versenden dein Skript CO2 neutral zu dir nach Hause.<br>
        </p>
      </div>
    </div>

    <!-- Nachhaltig -->
    <div
      class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--1-offset-tablet">
      <div class="why-eco--cell-img mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">nature_people</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Recylingpapier</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>
          Für unsere Skripte benutzen wir nur hochwertiges Recyclingpapier und setzen uns nachhaltig für Naturschutz
          sein. Für jedes Skript, das wir drucken, planzen wir einen
          <a style="text-decoration:none; color: #4CAF50;" href="">Baum</a>.
        </p>
      </div>
    </div>

    <!--  -->
    <div
      class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--3-offset-desktop">
      <div class="mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">question_answer</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Erstklassiger Support</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>
          Du kannst dich jedezeit per Chat oder
          <a style="text-decoration:none; color: #4CAF50;" href="mailto:support@script.eco">Mail</a>
          an uns wenden und uns gerne Fragen zu unseren Skripten und unserer nachhaltigen Druckphilosphie stellen.
          Antworten auf alle wichtigen Fragen findest du außerdem in der <a
          style="text-decoration:none; color: #4CAF50;" href="">FAQ</a>.
        </p>
      </div>
    </div>

    <!--  -->
    <div
      class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--1-offset-tablet">
      <div class="mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">favorite</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Individuelles Produkt</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>Wir legen Wert auf ein individuelles Produkt, welches dich überzeugt. Benutze zum Beispiel dein Lieblingsbild
          als Cover und lass dich von unserem textmarkersicheren 90g Papier überzeugen.
        </p>
      </div>
    </div>

    <!--  -->
    <div class="mdl-grid mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet">
      <div class="mdl-cell mdl-cell--4-col">
        <i class="why-eco-icons material-icons mdl-color-text--primary">verified_user</i>
      </div>
      <div class="mdl-cell mdl-cell--12-col">
        <h5>Ausgewählte Sponsoren</h5>
      </div>
      <div class="why-eco--cell-text mdl-cell mdl-cell--12-col">
        <p>
          Deine Sponsoren werden nach unseren
          <a style="text-decoration:none; color: #4CAF50;" href="">Richtlinen</a>
          gründlich ausgewählt, damit deine Daten wirlich bei dir bleiben. Außerdem verpflichtet sich jeder deiner
          Sponsoren sich für Themen, wie den Unweltschutz einzusetzen.
        </p>
      </div>
    </div>
  </div>

  <div class="mdl-grid select-product">
    <div id="products" class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet">
      <h3 style="text-align: center;">Wähle dein Skript.</h3>
    </div>
  </div>

  <div class="mdl-grid price__container">
    <!--Green Free-->
    <div
      class=" mdl-card mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-cell--4-offset-desktop mdl-cell--1-offset-tablet mdl-shadow--4dp">
      <div class="product-card-name mdl-card__title mdl-color--green mdl-color-text--white">
        <h2 class="mdl-card__title-text"><strong>Green Free</strong></h2>
      </div>
      <div class="product-card-price mdl-card__title mdl-color--green mdl-color-text--white mdl-card--border">
        <h2 class="mdl-card__title-text">€ 0.00</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span><strong>Max. 125 Seiten - Recyclingpapier</strong></span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Gesponsert*</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Kostenloser Versand</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Hochwertige Spiralbindung</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Bio-Farbdruck</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Klimaneutral*</span>
      </div>

      <div class=" mdl-card__actions mdl-card--border mdl-color--green" style="text-align: center">
        <a href="" data-ng-click="navigation.scrollTo('/', 'prospects')"
          class="mdl-button mdl-button--raised mdl-button--colored mdl-color--white mdl-js-button mdl-js-ripple-effect mdl-color-text--black">
          Auswählen
        </a>
      </div>
    </div>

    <!--Green-->
    <div class=" mdl-card mdl-cell mdl-cell--2-col mdl-cell--4-col-phone mdl-cell--3-col-tablet mdl-shadow--4dp">
      <div class="product-card-name mdl-card__title mdl-color--green mdl-color-text--white">
        <h2 class="mdl-card__title-text"><strong>Green Premium</strong></h2>
      </div>
      <div class="product-card-price mdl-card__title mdl-color--green mdl-color-text--white mdl-card--border">
        <h2 class="mdl-card__title-text">ab € 8.99</h2>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span><strong>Max. 300 Seiten - Recyclingpapier</strong></span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Werbefrei</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Kostenloser Versand</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
        <span>Viele Bindungsmögl.</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Bio-Farbdruck</span>
      </div>
      <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
        <span>Klimaneutral*</span>
      </div>

      <div class=" mdl-card__actions mdl-card--border mdl-color--green" style="text-align: center">
        <a href="" data-ng-click="navigation.scrollTo('/', 'prospects')"
          class="mdl-button mdl-button--raised mdl-button--colored mdl-color--white mdl-js-button mdl-js-ripple-effect mdl-color-text--black">
          Auswählen
        </a>
      </div>
    </div>
  </div>


  <div class="mdl-grid mdl-color--primary">
    <div class="how-work mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet">
      <h3 class="mdl-color-text--white">Und so funktioniert es.</h3>
    </div>
  </div>

  <div class="mdl-grid mdl-color--primary mdl-color-text--white">
    <div class="mdl-grid mdl-cell mdl-cell--6-col mdl-cell--3-offset-desktop" style="text-align: center">

      <i class="mdl-cell mdl-cell--2-col mdl-cell--1-offset material-icons mdl-color-text--white how-work__icon-big mdl-layout--large-screen-only">file_upload</i>

      <i class="mdl-cell mdl-cell--2-col material-icons mdl-color-text--white  how-work__icon-big mdl-layout--large-screen-only">keyboard_arrow_right</i>

      <i class="mdl-cell mdl-cell--2-col material-icons mdl-color-text--white how-work__icon-big mdl-layout--large-screen-only">email</i>

      <i class="mdl-cell mdl-cell--2-col material-icons mdl-color-text--white how-work__icon-big mdl-layout--large-screen-only">keyboard_arrow_right</i>

      <i class="mdl-cell mdl-cell--2-col material-icons mdl-color-text--white how-work__icon-big mdl-cell--1-offset-phone mdl-cell--4-offset-tablet">nature_people</i>

      <div class="mdl-grid mdl-cell mdl-cell--4-col how-work__text-big">
        <div class="mdl-cell mdl-cell--12-col" style="border-top: 0">Du lädst dein Skript als PDF hoch und bezahlst ganz einfach online.</div>
      </div>

      <div class="mdl-grid mdl-cell mdl-cell--4-col how-work__text-big">
        <div class="mdl-cell mdl-cell--12-col" style="border-top: 0">
          Innerhalb von 3 Wertagen ist der für dich gedruckte Skript bei dir.
        </div>
      </div>

      <div class="mdl-grid mdl-cell mdl-cell--4-col how-work__text-big">
        <div class="mdl-cell mdl-cell--12-col" style="border-top: 0">
          Wir pflanzen einen Bäume als Ausgleich für dein Skript und erhalten die Natur.
        </div>
      </div>
    </div>
  </div>


  <div id="prospects" class="mdl-grid" style="margin-top: 11%; margin-bottom: 16%">
    <div class="how-work mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop mdl-cell--2-offset-tablet">
      <h2>Bald geht's los!</h2>
      <div data-ng-show="!controller.disable">
        <p>Trage hier deine E-Mail-Adresse ein und wir informieren dich, sobald es los geht.</p>
        <div class="mdl-textfield mdl-js-textfield" style="margin-right: 60px">
          <input class="mdl-textfield__input"type="email"
                 id="email" data-ng-model="controller.email">
          <label class="mdl-textfield__label mdl-color-text--primary" for="email">Email...</label>
        </div>
        <p data-ng-show="controller.error">Bitte gib eine korrekte Email-Adresse an.</p>
        <button class="mdl-button mdl-button--raised mdl-button--colored mdl-color--primary mdl-js-button mdl-js-ripple-effect mdl-color-text--white"
          data-ng-click="controller.saveData()">
          Senden
        </button>
      </div>
      <div data-ng-show="controller.disable">
        <p>Danke für dein Interesse!</p>
      </div>
    </div>
  </div>

</div>
