<div data-ng-controller="scriptUploadController as controller">
  <div class="mdl-grid--no-spacing">
    <div class="order_title__container mdl-cell mdl-cell--3-col mdl-cell--4-offset-desktop">
      <h3 class="order_title__content">Dein Skript.</h3>
    </div>
  </div>
  <div class="mdl-grid--no-spacing">
    <div class="order_subtitle__container mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop">
      <p>Lade hier Dein Skript hoch und lass es Dir in Deinem gewünschten Format drucken. Und das Beste daran: Super einfach und in nur 3 Minuten bestellt.</p>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--3-col-phone mdl-cell--3-col-tablet mdl-cell--4-offset-desktop">
      <button id="uploadButton" ngfSelect ngf-select="controller.uploadFiles($files, $invalidFiles)"
              accept="application/pdf" ngf-validate="{size: {max: '50MB'}, pattern: '.pdf'}"
              class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
        PDF hochladen<i class="material-icons">file_upload</i>
      </button>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--4-offset-desktop">
      <span ng-repeat="file in controller.files">
        {{file.name}} {{file.$errorParam}}
        <span class="progress" ng-show="file.progress >= 0"/>
            {{file.progress | number:0}}%
        </span>
        <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner mdl-color--text-primary is-active" data-ng-show="file.progress < 100"></div>
    </div>
  </div>
</div>
