<div class="mdl-mini-footer__left-section">

  <div class="mdl-logo">
    <a class="mdl-navigation__link" data-ng-click="navigation.scrollTo('/', 'top')" href="">
      <img class="site-header__scripteco_logo" src="images/script_eco_logo.png" alt="scripteco Logo">
    </a>
  </div>

  <ul class="mdl-mini-footer__link-list">
    <li><a href="#">Help</a></li>
    <li><a data-ng-click="navigation.scrollTo('/agb', '')" href="">Privacy & Terms</a></li>
    <li><a data-ng-click="navigation.scrollTo('/impressum', '')" href="">Impressum</a></li>
  </ul>
</div>
