<div class="mdl-cell mdl-cell--8-col" data-ng-controller="particularsController as controller">

  <div data-ng-show="order.Order.stage == 6">
    <h3>Do you have a account?</h3>
    <button data-ng-click="controller.toggle('login')"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
      Yes, log me in
    </button>
    <button data-ng-click="controller.toggle('register')"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
      No, create new one
    </button>
    <button data-ng-click="order.Order.next()"
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">
      No, continue anonymously
    </button>

    <div data-ng-show="controller.login" data-ng-controller="signInController as signIn">

      <h4>Login</h4>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="usernamel" data-ng-model="signIn.email">
        <label class="mdl-textfield__label" for="usernamel">Email...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="passwordl" data-ng-model="signIn.password">
        <label class="mdl-textfield__label" for="passwordl">Password...</label>
      </div>

      <button id="signIn-btn" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
              data-ng-click="signIn.send()">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
              data-ng-click="signIn.googleSignIn()">
        Google Sign-in
      </button>

      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent"
              data-ng-click="signIn.facebookSignIn()">
        Facebook Sign-in
      </button>
    </div>

    <div data-ng-show="controller.register" data-ng-controller="registerController as register">

      <h4>Register</h4>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="email" id="usernamer" data-ng-model="register.email">
        <label class="mdl-textfield__label" for="usernamer">Email...</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="passwordr" data-ng-model="register.password">
        <label class="mdl-textfield__label" for="passwordr">Password...</label>
      </div>

      <button id="register-btn" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored"
              data-ng-click="register.send()">
        <i class="material-icons">keyboard_arrow_right</i>
      </button>
    </div>
  </div>

  <div data-ng-show="order.Order.stage == 7">
    <h3>Send it to where?</h3>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="firstname"
             data-ng-model="controller.order.particulars.firstname">
      <label class="mdl-textfield__label" for="firstname">Vorname...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="lastname"
             data-ng-model="controller.order.particulars.lastname">
      <label class="mdl-textfield__label" for="lastname">Nachname...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="street"
             data-ng-model="controller.order.particulars.street">
      <label class="mdl-textfield__label" for="street">Straße...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="zip"
             data-ng-model="controller.order.particulars.zip">
      <label class="mdl-textfield__label" for="zip">PLZ...</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="city"
             data-ng-model="controller.order.particulars.city">
      <label class="mdl-textfield__label" for="city">Ort...</label>
    </div>
  </div>

  <div data-ng-show="order.Order.stage == 8">
    <h3>Let p(l)ay!</h3>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
            data-ng-click="">
      Defür musst du bezahlen.
    </button>
  </div>
</div>
