<div data-ng-controller="particularsDataController">
  <h3>Send it to where?</h3>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="firstname"
           data-ng-model="controller.order.particulars.firstname">
    <label class="mdl-textfield__label" for="firstname">Vorname...</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="lastname"
           data-ng-model="controller.order.particulars.lastname">
    <label class="mdl-textfield__label" for="lastname">Nachname...</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="street"
           data-ng-model="controller.order.particulars.street">
    <label class="mdl-textfield__label" for="street">Straße...</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="zip"
           data-ng-model="controller.order.particulars.zip">
    <label class="mdl-textfield__label" for="zip">PLZ...</label>
  </div>
  <div class="mdl-textfield mdl-js-textfield">
    <input class="mdl-textfield__input" type="text" id="city"
           data-ng-model="controller.order.particulars.city">
    <label class="mdl-textfield__label" for="city">Ort...</label>
  </div>
</div>
<script src="https://www.paypalobjects.com/webstatic/ppplus/ppplus.min.js" type="text/javascript"></script>
