<div data-ng-controller="paymentController as controller">


  <div class="mdl-grid--no-spacing">
    <div class="order_title__container mdl-cell mdl-cell--3-col mdl-cell--4-offset-desktop">
      <h3>Nur noch schnell bezahlen</h3>
    </div>
  </div>


  <div id="ppplus"></div>

  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
    data-ng-click="">
    Dafür musst du bezahlen.
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
    data-ng-click="controller.Payment.create()">
    Create
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
    data-ng-click="controller.Payment.patch()">
    Patch
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
    data-ng-click="controller.Payment.execute()">
    Execute
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
    data-ng-click="controller.showOrder()">
    Show Order
  </button>
</div>
