<div data-ng-controller="paymentController as controller">


  <div class="mdl-grid--no-spacing">
    <div class="order_title__container mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop">
      <h3>Bequem online zahlen.</h3>
    </div>
  </div>

  <div class="mdl-grid--no-spacing">
    <div class="mdl-cell mdl-cell--4-col mdl-cell--4-offset-desktop">
      <div id="ppplus"></div>
    </div>
  </div>

  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button-colored mdl-color--grey-100 mdl-color-text--white"
    data-ng-click="">
    Bezahlen.
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--grey-100 mdl-color-text--white"
    data-ng-click="controller.Payment.create()">
    Create
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--grey-100 mdl-color-text--white"
    data-ng-click="controller.Payment.patch()">
    Patch
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--grey-100 mdl-color-text--white"
    data-ng-click="controller.Payment.execute()">
    Execute
  </button>
  <button
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color--grey-100 mdl-color-text--white"
    data-ng-click="controller.showOrder()">
    Show Order
  </button>
</div>
