<main class="mdl-layout__content" data-ng-controller="orderController as order">
  <div class="page-content">

    <!-- Your content goes here -->
    <!--<div id="my-container"></div> -->

    <h4>Upload on file select</h4>
    <button ngf-select="order.uploadFiles($files, $invalidFiles)" multiple accept="application/pdf"
            ngf-validate="{size: {max: '20MB'}, pattern: '.pdf'}" ngf-keep="distinct"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
      Select Files</button>
    <br><br>
    Files:
    <ul>
      <li ng-repeat="f in order.files">{{f.name}} {{f.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"
             ng-bind="f.progress + '%'"></div>
      </span>
      </li>
      <li ng-repeat="f in order.errFiles">{{f.name}} {{f.$error}} {{f.$errorParam}}
      </li>
    </ul>
    {{order.errorMsg}}

    <div class="flipbook-viewport">
      <div class="container">
        <div id="flipbook">
          <div class="hard"> Dein Ecoscript.</div>
          <div class="hard"></div>
          <div> Page 1</div>
          <div> Page 2</div>
          <div> Page 3</div>
          <div> Page 4</div>
          <div class="hard"></div>
          <div class="hard"></div>
        </div>
      </div>
    </div>

    <div class="mdl-grid price-bg  mdl-color--grey-100">
      <div class="mdl-cell mdl-cell--2-col">
      </div>

      <!--Black-->
      <div class="mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
        <div class="mdl-card__title mdl-color--grey-800 mdl-color-text--white mdl-card--border">
          <h2 class="mdl-card__title-text">Black<br>ab €12,99</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span><strong>Bis zu 300 Seiten auswählbar.</strong></span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Inkl. Express Versand</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Viele Bindungsmögl.</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span><strong>Mattschwarzes Cover</strong></span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>In jeder Vorlesung Eindruck machen.</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          </span> <span>Ein geflanzter Baum</span>
          <span><img src="images/tree.svg" width="23px" height="23px"></span>
        </div>

        <div class="mdl-grid mdl-card__actions mdl-card--border mdl-color--grey-800">
          <a
            class="mdl-cell mdl-cell--6-col mdl-cell--3-offset mdl-button mdl-button--raised mdl-button--colored mdl-color--white mdl-js-button mdl-js-ripple-effect mdl-color-text--black">
            Auswählen
          </a>
        </div>
      </div>

      <!--Free-->
      <div class="mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
        <div class="product-card-name mdl-card__title mdl-color--grey mdl-color-text--white">
          <h2 class="mdl-card__title-text"><strong>Free</strong></h2>
        </div>
        <div class="product-card-price mdl-card__title mdl-color--grey mdl-color-text--white mdl-card--border">
          <h2 class="mdl-card__title-text">€ 0.00 - gesponsort</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span><strong>Max. 125 Seiten </strong></span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Kostenloser Versand</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Hochwertige Spiralbindung</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Farbdruck</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>⠀</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          </span> <span>Ein geflanzter Baum</span>
          <span><img src="images/tree.svg" width="23px" height="23px"></span>
        </div>

        <div class="mdl-grid mdl-card__actions mdl-card--border mdl-color--grey">
          <a
            class="mdl-cell mdl-cell--6-col mdl-cell--3-offset mdl-button mdl-button--raised mdl-button--colored mdl-color--white mdl-js-button mdl-js-ripple-effect mdl-color-text--black">
            Auswählen
          </a>
        </div>
      </div>

      <!--Green Free-->
      <div class=" mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
        <div class="product-card-name mdl-card__title mdl-color--green mdl-color-text--white">
          <h2 class="mdl-card__title-text"><strong>Green Free</strong></h2>
        </div>
        <div class="product-card-price mdl-card__title mdl-color--green mdl-color-text--white mdl-card--border">
          <h2 class="mdl-card__title-text">€ 0.00 - gesponsort</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          <span><strong>Max. 125 Seiten - Recyclingpapier</strong></span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Kostenloser Versand</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Hochwertige Spiralbindung</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          <span>Bio-Farbdruck</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          <span>Klimaneutral*</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          </span> <span>Ein geflanzter Baum</span>
          <span><img src="images/tree.svg" width="23px" height="23px"></span>
        </div>

        <div class="mdl-grid mdl-card__actions mdl-card--border mdl-color--green">
          <a
            class="mdl-cell mdl-cell--6-col mdl-cell--3-offset mdl-button mdl-button--raised mdl-button--colored mdl-color--white mdl-js-button mdl-js-ripple-effect mdl-color-text--black">
            Auswählen
          </a>
        </div>
      </div>

      <!--Green-->
      <div class=" mdl-card mdl-cell mdl-cell--2-col mdl-shadow--4dp">
        <div class="product-card-name mdl-card__title mdl-color--green mdl-color-text--white">
          <h2 class="mdl-card__title-text"><strong>Green</strong></h2>
        </div>
        <div class="product-card-price mdl-card__title mdl-color--green mdl-color-text--white mdl-card--border">
          <h2 class="mdl-card__title-text">ab € 8.99</h2>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          <span><strong>Max. 300 Seiten - Recyclingpapier</strong></span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Kostenloser Versand</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--grey-700 mdl-card--border">
          <span>Viele Bindungsmögl.</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          <span>Bio-Farbdruck</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          <span>Klimaneutral*</span>
        </div>
        <div class="mdl-card__supporting-text mdl-color-text--green mdl-card--border">
          <span>Zwei gepflanzte Bäume</span>
          <span><img src="images/tree.svg" width="23px" height="23px"></span>
          <span><img src="images/tree.svg" width="23px" height="23px"></span>
        </div>

        <div class="mdl-grid mdl-card__actions mdl-card--border mdl-color--green">
          <a
            class="mdl-cell mdl-cell--6-col mdl-cell--3-offset mdl-button mdl-button--raised mdl-button--colored mdl-color--white mdl-js-button mdl-js-ripple-effect mdl-color-text--black">
            Auswählen
          </a>
        </div>
      </div>

      <div class="mdl-cell mdl-cell--12-col"><br><br><br></div>
    </div>

    <div class="mdl-grid select-product mdl-color--white grid-height-600">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-offset">
        <h3>This are your options.</h3>
        <select class="mdl-select mdl-list">
          <option class="mdl-list-item" value="volvo">Volvo</option>
          <option class="mdl-list-item" value="saab">Saab</option>
          <option class="mdl-list-item" value="mercedes">Mercedes</option>
          <option class="mdl-list-item" value="audi">Audi</option>
        </select>
      </div>
    </div>

    <div class="mdl-grid select-product mdl-color--grey-100">
      <div class="mdl-cell mdl-cell--4-col mdl-cell--6-offset">
        <h3>This are your options.</h3>
      </div>
    </div>

    <div class="mdl-grid select-product mdl-color--grey-100">
      <table
        class="mdl-cell mdl-cell--4-col mdl-cell--6-offset mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Material</th>
          <th>Quantity</th>
          <th>Unit price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
          <td>25</td>
          <td>$2.90</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
          <td>50</td>
          <td>$1.25</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
          <td>10</td>
          <td>$2.35</td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</main>
