<div class="footer_order__container" data-focused="null" aria-hidden="true">
  <span class="footer_order__span">
    <img src="../../images/icons/footer/bg_01.svg">
  </span>
  <span class="footer_order__span">
    <img src="../../images/icons/footer/c_store_grey.svg">
  </span>
  <span class="footer_order__span">
    <img src="../../images/icons/footer/bg_02.svg">
  </span>
  <span class="footer_order__span">
    <img src="../../images/icons/footer/c_swimming_grey.svg">
  </span>
  <span class="footer_order__span">
    <img src="../../images/icons/footer/bg_01.svg">
  </span>
  <span class="footer_order__span">
    <img src="../../images/icons/footer/c_person_grey.svg">
  </span>
  <span class="footer_order__span">
    <img src="../../images/icons/footer/bg_02.svg">
  </span>
  <span class="footer_order__span">
    <img src="../../images/icons/footer/c_swimming_grey.svg">
  </span>
</div>
