<div class="mdl-layout__header-row" data-ng-controller="orderController as order">

  <div class="mdl-layout-spacer"></div>

  <span>
    <a data-ng-click="navigation.scrollTo('/', 'top')" href="">
      <i class="order_title_help_icon material-icons mdl-color-text--grey-600">help_outline</i>
    </a>
  </span>

  <span>
    <nav class="mdl-navigation">
      <div id="p1" class="order_progress mdl-progress mdl-js-progress"></div>
    </nav>
  </span>

  <!-- TODO Fix scope Order stage-->
  <span class="order_title_process mdl-layout-title">{{order.Order.stage}}/{{order.Order.maxStage}} {{order.progress()}}</span>

  <script>
    document.querySelector('#p1').addEventListener('mdl-componentupgraded', function() {
      this.MaterialProgress.setProgress(20);
    });
  </script>
  <div class="mdl-layout-spacer"></div>

</div>
